
.nav {
    
    background-color:blue;
    padding:15px;
}
.nav a {
    color: White;
    font-size: 30px;
}
.nav li {
    margin:auto;
    display:inline
    
}

.Nav {
    display:inline;
    color:blue;
}



.history {
    
    margin:auto;
    width:400px;
    height:350px;
    font-size:20px;
}

.img {
    align-items:center;
}


.status {
    height:120px;
    width:400px;
    margin:auto;
}

.Gaming li {
    color :black;
    font-size :18px;
    padding-left :30px;
    
}
.Gaming {
    width:400px;
    height:350px;
    margin:auto;
    
}


