
.HomeNav {
    background-color:#0000cc;
    margin:auto;
    
}
.HomeNav li {
    display : inline-block;
}
.HomeNav a{
    font-size:30px;
    color:white;
    margin-right:40px;
    
}
.HomeNav.img {
    float:right;
    margin:auto;
}



.article p{
    
    height:75px;
    width:500px;
    margin:auto;
}


.uses{
    text-align:center;
    
}
.uses p {
    
    height:120px;
    width:350px;
    margin:auto;
}



.reasons {
    width:350px;
    height:100px;
    margin:auto;
    
    
}
.reasons h3 {
    text-align:center;
}
.reasons li {
    
    text-align:left;
    list-style:inside;

}



.legendary p {
    width:350px;
    height:100px;
    margin:auto;
}


