
.navigationF{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#000000;
    position:fixed;
    top:0;
    width:100%;
    height:120px;
   
}

.navigationF li {
    float:left;
}

.navigationF a{
    display:block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.navigationF a:hover {
    background-color:#234567;
}


.quotes {
    left: 25%;
    margin: auto;
    text-align:center;
    margin-top:1%;
    position: absolute;
    top:100%;
    width: 50%;
    font-size:40px;
    font-family: "Georgia", Times, serif;
    font-style:italic;
    background-color:#cacaca;
   
}

.image1 {
    left: 20%;
    margin: auto;
    text-align:center;
    margin-top:1%;
    
}

    