.navSpiritpost{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#000000;
    position:fixed;
    top:0;
    width:100%;
    height:120px;
   
}

.navSpiritpost li {
    float:left;
}

.navSpiritpost a{
    display:inline-block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.navSpiritpost a:hover {
    background-color:#234567;
}