
.navigation {
    
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    position:fixed;
    top:0;
    width:100%;
    height:auto;
    display:inline-block;
    z-index:1;
   
}

.navigation li {

    float:left;
     
}

.navigation a{
    
    display:block;
    color:white;
    font-size:20px; //em 
    text-align:center;
    padding:10px 10px;
    text-decoration:none;
   
}

.navigation a:hover {
    background-color:#292929;
}

.PageNavigation {
    
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    position:fixed;
    top:5%;
    width:100%;
    height:auto;
    display:inline-block;
    z-index:1;
   
}

.PageNavigation li {

    float:left;
     
}

.PageNavigation a{
    
    display:inline-block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
   
}

.PageNavigation a:hover {
    background-color:#292929;
}

#Section1 {
    
    
    background-color:#40392B;
    width:100%;
    padding-top:50px;
    height:auto;
    color: #fff; 
    margin:auto;
    
}
.title{
    width:100%;
    height:auto;
    font-size:35px;
    color:white;
    top:20%;
    position:relative;
}
.Description1 img{
    left:50%;
    position:relative;
    width:400px;
    height:400px;
}
.About {
    height:auto;
    width:300px;
    position:relative;
    left:5%;
    color:white;
    font-size:25px;
    
}
    
#Section2{ 
    background-color:#585143;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
}
#Section2 h{
    font-size:50px;
    font-style: oblique;
    
}

#Section3 {
    

      
    background-color:#40392B;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
    
}
#Section4 {
    
    background-color:#564729;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
}

#Section5 {
    
    background-color:#665940;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
}

#Section6 {
    
    background-color:#40392B;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
}

#Section7 {
    
    background-color:#564729;
    width:100%;
    padding-top:50px;
    height:500px;
    color: #fff; 
    margin:auto;
    
}