/*to make responsive images set display to block, min width and auto height can be done by setting class to img-responsive */

body {
    background-color:#000000;
}
.navigationF{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333333;
    position:fixed;
    top:0;
    width:100%;
    height:120px;
    opacity:0.7;
  /* border-radius:10%;*/
}

.navigationF li {
    
    float:left;
}

.navigationF a{
    
    display:block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    max-width:100px;
    max-height:100px;
}

.navigationF a:hover {
    background-color:white;
    
}


.navigationF:hover {
    opacity:1.0;
    
}


.container-fluid {
    width:80%;
    height:100%;
    background-color: #545454;
    margin:auto;
}


.headlineimg {
    
    margin-top:5%;
    text-align:center;
    transform:0px 0px;
    overflow :hidden;
    
    
}




#headimage{
    
    display:block;
    margin:auto;
    position:relative;
    text-align:center;
    height:100%;
    
    
}

/*.search {
    margin-top:100%;
    
    
                <form action = "https://www.google.co.uk/shopping?hl=en">
                    <div class = "search">
                        Search google for item
                        <input name = "q">
                        <input type = "Submit">
                    
                    </div>
                </form>
}*/

.dropdown img{
    border-radius:50%;
   
     
  
    
}

.dropdown img:hover{
    width:200px;
    height:200px;
     
  
    
}


.dropdown {
     
    display: inline;
}

.dropdown-content {
    
    display:none;
    position: absolute;
    background-color: #333333;
    height:auto;
    width:300px;
    
    box-shadow: 0px 16px 70px 0px 	#000000;
    padding: 12px 16px;
    z-index: 1;
   
}


.dropdown-content h {
    font-size:25px;
    font-family: 'Georgia',times, serif;
    font-weight:bold;
    font-size:oblique;
    color:	#8c704f;
    
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Whiskey layout */

.Woptions {
    display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    position:static;
    overflow:hidden;
    width:100%;
    height:auto;
    align-items:center;
   
}

.Woptions li{
    float:left;
       
}

/*Vodka layout*/
.VODoptions {
     display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    position:static;
    overflow:hidden;
    width:100%;
    height:auto;
    
   
}

.VODoptions li{
    float:left;
       
}

/* GIN layout*/
.GINoptions {
     display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    position:static;
    overflow:hidden;
    width:100%;
    height:auto;
   
    ;
   
}

.GINoptions li{
    float:left;
       
}

/* Rum layout*/
.RUMoptions {
     display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    position:static;
    overflow:hidden;
    width:100%;
    height:auto;
   
}

.RUMoptions li{
    float:left;
       
}

/*all display*/


.dropdown span{
    
    
    color: white;
   /* text-align: left;*/
    text-decoration: none;
    
}
.dropdown img {
    
    margin:auto;
    padding: 5px 5px;
    height :150px; 
    width :150px;
}





/*Recipies for all drinks*/

.recipies {
    clear:both;
    text-align:left;
    margin:auto;
    padding:5px 5px;
    

    display:block;
}

.recipies li {
    margin:5px;
    color:white;
    font-size:16px;
}

.recipies p {
    margin:auto;
    color:#8c704f;
     font-size:16px;
    
}

/*instructions for all drinks*/

.Instructions{
    clear:both;
    width:300px;
    text-align:left;
    margin:auto;
   /* height:100px;
    width:300px;*/

    display:block;
}

.Instructions p1 {
  
    margin:auto;
    color:white;
     display:block;
     font-size:16px;
    
}

.Instructions p {
   

    color:#8c704f;
     display:block;
     font-size:16px;
    
}

.filter form{
    
    height:auto;
    font-size:18px;
    background-color:#333333;
    position:static;
    top:50%;
    width:100%;
    left:15%;
    text-align:left;
    clear:both;
    color:#8c704f;
     display:inline-block;
    
    
}

.button {
    padding:10px;
    cursor: pointer;
    margin:auto;
    display:inline-block;
}



#none1 {
    
   
    cursor: pointer;
    margin:auto;
    display:inline-block;
    
    visibility:hidden;
   
}

.sitemap {
    
    position:relative;
    top:100%;
    left:40%;
    
    width:400px;
    text-align:center;
    
}

.sitemap a{
    color:#8c704f;
}

.sitemap li{
    padding:5px;
    display:inline;
    list-style:none;
}

.hiderocket {
    width:200px;
    height:80%;
    background-color:black;
    position:absolute;
    left:90%;
    top:15%;
    border-radius:50%;
}

#returnlogo{
    position:fixed;
    left:90%;
    top:70%;
}

#Nextimageslide {
    position:absolute;
    top:35%;
    left:80%;
    
    
}



#Previousimageslide {
    position:absolute;
    top:35%;
    left:20%;
    transform: rotate(180deg);
    transform-origin: 0% 50%;
}


