
.navigationS{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#000000;
    position:fixed;
    top:0;
    width:98%;
   
}

.navigationS li {
    float:left;
}

.navigationS a{
    display:block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.navigationS a:hover {
    background-color:#234567;
}

.active li:vistied{
    background-color:#234567;
}

